---
import Layout from '../layouts/Layout.astro';
import WishlistPageReact from '../components/shop/WishlistPage';
---

<Layout title="Wishlist | Triostepdkhyber">
  <main class="min-h-[70vh] bg-gray-50 pt-20 pb-32">
    <WishlistPageReact client:load />
  </main>
</Layout>
